// Todo:
// Main title as Noto Serif

// Find good font for rest (cantarell?)
@font-face {
  font-family: Noto;
  src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
}
@font-face {
  font-family: Noto;
  src: url(../fonts/Noto_Sans/NotoSans-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: Noto;
  src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: NotoSerif;
  src: url(../fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
  font-family: NotoSerif;
  src: url(../fonts/Noto_Serif/NotoSerif-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: NotoSerif;
  src: url(../fonts/Noto_Serif/NotoSerif-Bold.ttf);
  font-weight: bold;
}
